<section class="icones_accuel container">
    <div class="icones_fon row">
        <div class="col-auto">
            <div class="row">
                <div class="col-12">
                    <div>
                        <img src="{{ asset('build/images/icon1.png') }}" alt="couverture Pau Jurançon"/>
                    </div>
                </div>
                <div class="col-12 text-center"><h5>Devis gratuit</h5></div>
            </div>
        </div>

        <div class="col-auto">
            <div class="row">
                <div class="col-12">
                    <div>
                        <img src="{{ asset('build/images/icon2.png') }}" alt="couverture Pau Jurançon"/>
                    </div>
                </div>
                <div class="col-12 text-center"><h5>Confiance</h5></div>
            </div>
        </div>

        <div class="col-auto">
            <div class="row">
                <div class="col-12">
                    <div>
                        <img src="{{ asset('build/images/icon3.png') }}" alt="couverture Pau Jurançon"/>
                    </div>
                </div>
                <div class="col-12 text-center"><h5>Qualité</h5></div>
            </div>
        </div>

        <div class="col-auto">
            <div class="row">
                <div class="col-12">
                    <div>
                        <img src="{{ asset('build/images/icon4.png') }}" alt="couverture Pau Jurançon"/>
                    </div>
                </div>
                <div class="col-12 text-center"><h5>Comfort</h5></div>
            </div>
        </div>

        <div class="col-auto">
            <div class="row">
                <div class="col-12">
                    <div>
                        <img src="{{ asset('build/images/icon5.png') }}" alt="couverture Pau Jurançon"/>
                    </div>
                </div>
                <div class="col-12 text-center"><h5>Durabilité</h5></div>
            </div>
        </div>
    </div>
</section>

<section>
    <p class="about">Entreprise de Couverture Charpente Zinguerie a Jurançon</p>
</section>
