{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<section class="header_fon">
<section class="header_text_and_vector">
<div class="text_header">
<h1>TOITS PYRÉNÉENS</h1>
<p>TOITS PYRÉNÉENS c’est 20 ans d’expérience de son décideur dans la connaissance des techniques du 
toits, expérience ancrée dans le savoir faire traditionnel, toujors incontournable, et utilisant les 
techniques nouvelles d’aujord’hui.</p>
</div>
<div class="home_vector"></div>
</section>
</section>
<!--les icones-->
<section class="icones_accuel">
  <div class="icones_fon">

   <div><img src="{{asset('build/images/icon1.png')}}" alt="couverture Pau Jurançon">
   <h5>Devis gratuit</h5></div>
   <div><img src="{{asset('build/images/icon2.png')}}" alt="couvreur Pau ">
    <h5>Confiance</h5></div>
   <div><img src="{{asset('build/images/icon3.png')}}" alt="couverture Pau Jurançon">
    <h5>Qualité</h5></div>
   <div><img src="{{asset('build/images/icon4.png')}}" alt="couverture Pau Jurançon">
    <h5>Comfort</h5></div>
   <div><img src="{{asset('build/images/icon5.png')}}" alt="couverture Pau Jurançon"> 
    <h5>Durabilité</h5></div>                                                                                                      
  </div>
</section>

<!--les realisations, une grande partie ACCORDION-->
<div class="ligne_yellow"><h3>RÉALISATIONS</h3>
</div>
<div class="espace"></div><!--seulement 4vh de hight pour faire espace-->

<ul class="Accordion">
    <li class="Accordion-item">
        <label for="checkboxes-menu1">Couverture</label>
        <input id="checkboxes-menu1" type="checkbox" name="menu" />
        <ul class="Accordion-subElements">
            <li class="Accordion-subElement">
                <p class="text_realisations">
                    Ouvrages réalisés dans les règles de l’art, que ce soit l’ardoise 
                    naturelle travaillée à la main ou avec la tuile mécanique. Nous réalisons également la couverture en 
                    zinc qui bien appareillée donnera au bâti la longévite et la fiabilité désirés. La terrasse zinc 
                    tasseau offre une grande souplesse d’adaptation aux formes planes. Le joint debout est idéal pour 
                    les couvertures de surface importante. il offre une étanchéité maximale, est esthétique, moderne et 
                    constitue une réponse adaptée aux formes cintrées, complexes.
                </p>
                <div classe="img_lien_accueil">
                    <img class="img_accueil"src="{{asset('build/images/couver.jpg')}}" alt="couverture Pau Jurançon">
                    <a href="{{path('app_nos_realisations')}}" >Voir nos réalisations</a>
                </div>
            </li>
        </ul>
    </li>
    <li class="Accordion-item">
        <label for="checkboxes-menu2">Charpente</label>
        <input id="checkboxes-menu2" type="checkbox" name="menu" />
        <ul class="Accordion-subElements">
            <li class="Accordion-subElement">
                <p class="text_realisations">
                    Ouvrages réalisés dans les règles de l’art, que ce soit l’ardoise 
                    naturelle travaillée à la main ou avec la tuile mécanique. Nous réalisons également la couverture en 
                    zinc qui bien appareillée donnera au bâti la longévite et la fiabilité désirés. La terrasse zinc 
                    tasseau offre une grande souplesse d’adaptation aux formes planes. Le joint debout est idéal pour 
                    les couvertures de surface importante. il offre une étanchéité maximale, est esthétique, moderne et 
                    constitue une réponse adaptée aux formes cintrées, complexes.
                </p>
                <div classe="img_lien_accueil">
                    <img class="img_accueil"src="{{asset('build/images/couver.jpg')}}" alt="couverture Pau Jurançon">
                    <a href="{{path('app_nos_realisations')}}" >Voir nos réalisations</a>
                </div>
            </li>
        </ul>
    </li>
    <li class="Accordion-item">
        <label for="checkboxes-menu4">Pose de fenêtre de toit</label>
        <input id="checkboxes-menu4" type="checkbox" name="menu" />
        <ul class="Accordion-subElements">
            <li class="Accordion-subElement">
                <p class="text_realisations">
                    En neuf ou en rénovation concerne notre activité importante: chenaux, entourage de cheminée, 
                    rives diverses réalisés avec le concours, dans notre ateilier, d’un matériel fiable et moderne.
                </p>
                <div classe="img_lien_accueil">
                    <img class="img_accueil"src="{{asset('build/images/couver.jpg')}}" alt="couverture Pau Jurançon">
                    <a href="{{path('app_nos_realisations')}}" >Voir nos réalisations</a>
                </div>
            </li>
        </ul>
    </li>
    <li class="Accordion-item">
        <label for="checkboxes-menu5">Nettoyage de toiture</label>
        <input id="checkboxes-menu5" type="checkbox" name="menu" />
        <ul class="Accordion-subElements">
            <li class="Accordion-subElement">
                <p class="text_realisations">
                    Toits Pyrénéens c’est aussi et surtout le savor faire dans la pose de fenêtre de toits Velux 
                    pour donner à vos combles plus de lumière. Installateur conseil, poseur Velux agrée.
                </p>
                <div classe="img_lien_accueil">
                    <img class="img_accueil"src="{{asset('build/images/couver.jpg')}}" alt="couverture Pau Jurançon">
                    <a href="{{path('app_nos_realisations')}}" >Voir nos réalisations</a>
                </div>
            </li>
        </ul>
    </li>
    <li class="Accordion-item">
        <label for="checkboxes-menu6">Isolation</label>
        <input id="checkboxes-menu6" type="checkbox" name="menu" />
        <ul class="Accordion-subElements">
            <li class="Accordion-subElement">
                <p class="text_realisations">
                    Toits Pyrénéens dispose de l’agrément ECO-ARTISAN, R.G.E; (reconnu garant de l’environnement). 
                    Cet agrement vous permet de bénéficier d’aides pour le financement de vos projets, 
                    de crédit d’impôt.
                </p>
                <div classe="img_lien_accueil">
                    <img class="img_accueil"src="{{asset('build/images/couver.jpg')}}" alt="couverture Pau Jurançon">
                    <a href="{{path('app_nos_realisations')}}" >Voir nos réalisations</a>
                </div>
            </li>
        </ul>
    </li>
    <li class="Accordion-item">
        <label for="checkboxes-menu7">Bardage bois</label>
        <input id="checkboxes-menu7" type="checkbox" name="menu" />
        <ul class="Accordion-subElements">
            <li class="Accordion-subElement">
                <p class="text_realisations">Isolation texte à mettre</p>
                <div classe="img_lien_accueil">
                    <img class="img_accueil"src="{{asset('build/images/couver.jpg')}}" alt="couverture Pau Jurançon">
                    <a href="{{path('app_nos_realisations')}}" >Voir nos réalisations</a>
                </div>
            </li>
        </ul>
    </li>
    <li class="Accordion-item">
        <label for="checkboxes-menu8">Depannage</label>
        <input id="checkboxes-menu8" type="checkbox" name="menu" />
        <ul class="Accordion-subElements">
            <li class="Accordion-subElement">
            <p class="text_realisations">bardage bois texte à mettre</p>
            <div classe="img_lien_accueil">
                <img class="img_accueil"src="{{asset('build/images/couver.jpg')}}" alt="couverture Pau Jurançon">
                    <a href="{{path('app_nos_realisations')}}" >Voir nos réalisations</a>
            </div>
    </li>
        </ul>
    </li>
    <li class="Accordion-item">
        <label for="checkboxes-menu9">Plancher bois</label>
        <input id="checkboxes-menu9" type="checkbox" name="menu" />
        <ul class="Accordion-subElements">
        <li class="Accordion-subElement"><a href="#">Sub-menu #1</a></li>

<div class="text_accueil_fin">
   <p>TOITS PYRÉNÉENS c’est le choix d’un partenaire attentif à vos demandes et dont la préoccupation 
     première est la QUALITE. SAVOIR FAIRE + COMPÉTENCE = EFFICACITÉ Toits Pyrénéens reste à votre 
     disposition pour évaluer vos besoins et vous aider dans votre choix.</p>
</div>
<div class="ligne_yellow">
   <h3>CONTACT</h3>
</div>
<div class="espace"></div>
<section class="contact">
    <section class="form_contact">
       <h4>Prendre contact avec nous c'est facile!</h4>
    </section>
</section>
{% endblock %}
