{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<section class="header_fon">
<section class="header_text_and_vector">
<div class="text_header">
<h1>TOITS PYRÉNÉENS</h1>
<p>TOITS PYRÉNÉENS c’est 20 ans d’expérience de son décideur dans la connaissance des techniques du 
toits, expérience ancrée dans le savoir faire traditionnel, toujors incontournable, et utilisant les 
techniques nouvelles d’aujord’hui.</p>
</div>
<div class="home_vector"></div>
</section>
</section>
<!--les icones-->
<section class="icones_accuel">
<div class="icones_fon">
<!--ici il faut ajoter les icones-->
<img src="{{asset('build/images/icon1.png')}}" alt="couverture Pau Jurançon">
<img src="{{asset('build/images/icon2.png')}}" alt="couvreur Pau ">
<img src="{{asset('build/images/icon3.png')}}" alt="couverture Pau Jurançon">
<img src="{{asset('build/images/icon4.png')}}" alt="couverture Pau Jurançon">
<img src="{{asset('build/images/icon5.png')}}" alt="couverture Pau Jurançon">                                                                                                       
</div>
</section>

<!--les realisations, une grande partie avec les div cachés-->
<div class="ligne_yellow"><h3>RÉALISATIONS</h3>
</div>
<div class="espace"></div>
<section class="realisations">
   <ul class="menu_dynamique">
   <li class="li1">Couverture</li>
   <li class="li2">Charpente</li>
   <li class="li3">Pose de fenêtre de toit</li>
   <li class="li4">Nettoyage de toiture</li>
   <li class="li5">Isolation</li>
   <li class="li6">Bardage bois</li>
   <li class="li7">Depannage</li>
   <li class="li8">Plancher bois</li>
   </ul>
   </section>
<section class="div_realisations" "div1">
   <p class="text_realisations">
   Ouvrages réalisés dans les règles de l’art, que ce soit l’ardoise 
   naturelle travaillée à la main ou avec la tuile mécanique. Nous réalisons également la couverture en 
   zinc qui bien appareillée donnera au bâti la longévite et la fiabilité désirés. La terrasse zinc 
   tasseau offre une grande souplesse d’adaptation aux formes planes. Le joint debout est idéal pour 
   les couvertures de surface importante. il offre une étanchéité maximale, est esthétique, moderne et 
   constitue une réponse adaptée aux formes cintrées, complexes.
   </p>
   <div classe="img_lien_accueil">
  <img class="img_accueil"src="{{asset('build/images/couver.jpg')}}" alt="couverture Pau Jurançon">
  <a href="{{path('app_nos_realisations')}}" >Voir nos réalisations</a>
  </div>
</section>
<section class="div_realisations" "div2">
   <p class="text_realisations">
   En neuf ou en rénovation concerne notre activité importante: chenaux, entourage de cheminée, 
   rives diverses réalisés avec le concours, dans notre ateilier, d’un matériel fiable et moderne.
   </p>
   <div classe="img_lien_accueil">
  <img class="img_accueil"src="{{asset('build/images/couver.jpg')}}" alt="couverture Pau Jurançon">
  <a href="{{path('app_nos_realisations')}}" >Voir nos réalisations</a>
  </div>
</section>
<section class="div_realisations" "div3">
   <p class="text_realisations">
   Toits Pyrénéens c’est aussi et surtout le savor faire dans la pose de fenêtre de toits Velux 
   pour donner à vos combles plus de lumière. Installateur conseil, poseur Velux agrée.
   </p>
    <div classe="img_lien_accueil">
  <img class="img_accueil"src="{{asset('build/images/couver.jpg')}}" alt="couverture Pau Jurançon">
  <a href="{{path('app_nos_realisations')}}" >Voir nos réalisations</a>
  </div>
</section>
<section class="div_realisations" "div4">
   <p class="text_realisations">
   Toits Pyrénéens dispose de l’agrément ECO-ARTISAN, R.G.E; (reconnu garant de l’environnement). 
   Cet agrement vous permet de bénéficier d’aides pour le financement de vos projets, 
   de crédit d’impôt.
   </p>
     <div classe="img_lien_accueil">
       <img class="img_accueil"src="{{asset('build/images/couver.jpg')}}" alt="couverture Pau Jurançon">
       <a href="{{path('app_nos_realisations')}}" >Voir nos réalisations</a>
     </div>
</section>
<section class="div_realisations" "div5">
   <p class="text_realisations">Isolation texte à mettre

   </p>
     <div classe="img_lien_accueil">
       <img class="img_accueil"src="{{asset('build/images/couver.jpg')}}" alt="couverture Pau Jurançon">
       <a href="{{path('app_nos_realisations')}}" >Voir nos réalisations</a>
   </div>
</section>
<section class="div_realisations" "div6">
    <p class="text_realisations">
    bardage bois texte à mettre
    </p>
      <div classe="img_lien_accueil">
         <img class="img_accueil"src="{{asset('build/images/couver.jpg')}}" alt="couverture Pau Jurançon">
         <a href="{{path('app_nos_realisations')}}" >Voir nos réalisations</a>
      </div>
</section>
<section class="div_realisations" "div7">
    <p class="text_realisations">
    depannage texte à mettre
    </p>
      <div classe="img_lien_accueil">
         <img class="img_accueil"src="{{asset('build/images/couver.jpg')}}" alt="couverture Pau Jurançon">
         <a href="{{path('app_nos_realisations')}}" >Voir nos réalisations</a>
      </div>
</section>
<section class="div_realisations" "div8">
   <p class="text_realisations">
   plancer bois texte à mettre
   </p>
       <div classe="img_lien_accueil">
           <img class="img_accueil"src="{{asset('build/images/couver.jpg')}}" alt="couverture Pau Jurançon">
           <a href="{{path('app_nos_realisations')}}" >Voir nos réalisations</a>
       </div>
</section>
</section>
<div class="text_accueil_fin">
   <p>TOITS PYRÉNÉENS c’est le choix d’un partenaire attentif à vos demandes et dont la préoccupation 
     première est la QUALITE. SAVOIR FAIRE + COMPÉTENCE = EFFICACITÉ Toits Pyrénéens reste à votre 
     disposition pour évaluer vos besoins et vous aider dans votre choix.</p>
</div>
<div class="ligne_yellow">
   <h3>CONTACT</h3>
</div>
<div class="espace"></div>
<section class="contact">
    <section class="form_contact">
       <h4>Prendre contact avec nous c'est facile!</h4>
    </section>
</section>
{% endblock %}
